.customer-heading span{
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
.customer-heading{
    background-color: black;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.customer-container{
  //height: --webkit-max-content;
  height: fit-content;

}
* {
    margin: 0;
    padding: 0;
}
.customer {
  align-content: center;
  background: #000;
  display: flex;
  flex-direction: column;
  //height: 40rem;
  margin-top: 2rem;
  }
 
  .customer-review{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto;
    //border: 2px solid green;
    width: 51%;
  }

  .carouselBox {
    position: relative;
    box-shadow: 0 0 6px 0 #faf8e2;
    background-color: #edeef0;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 15rem;
    width: 16rem;
    margin-right: 2rem;
  }
  
  .review{
    font-size: large;
    
  }
  
  // .customer-review-container{
//     display: flex;
//     flex-direction: row;
//     align-items: baseline;
//     justify-content: center;
//     background-color: black;
//     height: auto;
//     padding-top: 1rem;
//     padding-bottom: 1rem;

// }
// .review-box{
//     box-shadow: 0 0 6px 0 #faf8e2;
//     background-color: white;
//     align-items: center;
//     display: flex;
//     justify-content: center;
//     height: 18rem;
//     width: 16rem;
//     margin-right:2rem ;

    
// }
// @media screen and (max-width: 450px){
//     .review-box{
//     padding-top: 3.5rem;
//     margin-bottom: 1rem;
//     }
//     .customer-review-container{
//         flex-wrap: wrap;
//         overflow: hidden;

//     }
// }

// .reviews{
//     padding: 10px;
//     margin: 1px;
//     font-size: larger;
        
// }
//swiperJS

.swiper-slide{
    width: auto !important;
}

// .swiper-wrapper{
//     align-items: center;
//     justify-content: center;
//     background-color: black;
// }