.customer-container{
    background-color: black;
    position: relative;
    height: 3.5rem;
    top: 20px;
    padding-bottom: 1.5rem;

}
.customer-heading span{
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
.customer-heading{
    background-color: black;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.customer-review-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    background-color: black;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.review-box{
    box-shadow: 0 0 6px 0 #faf8e2;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 18rem;
    width: 16rem;
    margin-right:2rem ;
    
}
.reviews{
    padding: 10px;
    margin: 1px;
    font-size: larger;
        
}