.footer-container{
    padding: 40px;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color:#edeef0;
}
.footer-logo p{
    font-size: larger;
    text-align: start;
    margin: 0px 0px 0px 0px;
    word-wrap: normal;
}

