$lightfont : 21px;
$boldfont : 31px;
*{
    margin: 0%;
    padding: 0%;
  
}


.topbar-logo{
    height: 23px;
    width: 23px;
    margin-left: 25px;
    margin-top: 9px;
    border-radius: 50%;
}

.topbar{
    height: 45px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    align-items: center;
    
}

/* ----------- iPhone 12, 12 Pro ----------- */

/* 2532x1170 pixels at 460ppi */ 
/*320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV*/

 .banner{
        background-size: cover;
        background-size: auto;
    }



.banner-img{
    position:relative;
    width: 100%;
    padding-top: 37px;
    height: 28rem;
    top: 6px;
}
.banner-right{
    position: absolute;
    
    text-align: center;
    align-items: flex-end;
    right: 15rem;

    top: 8rem;
    justify-content: center;
    overflow: hidden;
}
.banner-btn{
    position: absolute;
    align-items: flex-end;
    top: 20rem;
    right: 16rem;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 540px){

    .bold-font{
        font-size: 28px !important;
    }
    .payment-topbar p{
        font-size: 25px !important;
    }
    .banner-btn {
        left: 3rem;
        right: auto;
    }
    .banner-right {
        left: 3rem;
        right: auto;
        
    }
    }

.bold-font{
    font-size: $boldfont;
    padding-left: 4px;
    font-weight: 600;
}
.light-font{
    font-size: $lightfont;
    font-weight: 300;
}
.banner-btn{
    padding: 20px 80px 20px;
    background-color: black;
    border-radius: 7px;
}

.bank{
    display: flex;
    flex-direction: row;
    background-color:#edeef0;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}



@media screen and (max-width:771px) {
    .bank{
        flex: 1 1 100%;
        flex-direction: column;
        text-align: center;
        
    }
   .payment-topbar-logo{
    gap: 0 !important;
   }
    .bankimage1 {
        width:80px;
        height:76px;
    }
    .bankimage2{
        width:130px;
        height:116px;
    }
    .bankimage3{
        width: 80px;
        height:76px;
    }
    .bankimage4{
        width:70px;
        height:66px;
    }
}


.payment-topbar p{    
    font-size: $boldfont;
    
}
.payment-topbar-logo {
   
    display: flex;
    align-items: center;
    height: 130px;
    justify-content: center;
    gap: 40px;  
    margin: 0%;
    padding-right: 1px;
    padding-left: 1px;
}

 .bankimage1 {
    width:130px;
    height:100px;
}
.bankimage2{
    width:130px;
    height:100px;
}
.bankimage3 {
    width:130px;
    height:100px;
}
.bankimage4{
    width:80px;
    height:66px;
}